.short
  - if short_article.article_type == "Железо"
    .red= "Новости hardware" 
  - elsif short_article.article_type == "Софт"
    .green= "Новости software"
  - elsif short_article.article_type == "Новости компании"
    .orange= short_article.article_type
  .short_title
    = link_to short_article.title, short_article
