body {font-family:Verdana;font-size:12px;}
h3 {margin:0; color:#990000;font-weight:normal;padding-bottom:10px;}

.main {width:800px;margin-left:auto;margin-right:auto}
.head{height:60px;}
.logo {float:left;font-size:28px;color:#333333;cursor:pointer;}
.address {float:right; color:#660099; font-size:17px; padding-top:7px;}
.clear {clear:both}
.content{float:left;width:500px;}
.sidebar{float:right;width:250px;}
.middle {min-height:300px;}
.submit {padding-top:10px;}
.dealers_enter {padding-bottom:10px;}
.events {margin-top:20px;}
.events div {}
.bottom {padding-left:200px;padding-top:70px;}
.for_dealers form {}
.news {}
.admin {padding-bottom:10px;}
.admin a {color:red;}
.field {padding-bottom:10px;}
.field textarea {width:400px; height:120px;}
.padding10 {padding-top:10px}
.news .title {font-weight:bold;padding-bottom:10px;}
