body {font-family:Verdana;font-size:12px;}
h3 {margin:0; color:#990000;font-weight:normal;padding-bottom:10px;}
table {padding:0; margin:0;}

.main {width:800px;margin-left:auto;margin-right:auto}
.head{height:40px;}
.logo {float:left;font-size:28px;color:#333333;cursor:pointer;}
.address {float:right; color:#660099; font-size:17px; padding-top:7px;}
.map {text-align:right; font-size:12px}
.map a {color:green;}
.clear {clear:both}
.content{float:left;width:500px;}
.sidebar{float:right;width:250px;}
.middle {min-height:300px;}
.submit {padding-top:10px;}
.dealers_enter {padding-bottom:10px;}
.events {margin-top:20px;}
.events div {}
.bottom {padding-left:200px;padding-top:70px;}
.for_dealers form {}
.admin {padding-bottom:10px;}
.admin a {color:red;}
.field {padding-bottom:10px;}
.field textarea {width:400px; height:120px;}
.padding10 {padding-top:10px}
.news .title {font-weight:bold;padding-bottom:10px;}
.news .image {float:left; padding-right:10px;}
#error {color:#DF0DB3;}
.new {padding-bottom:20px;}
.brief {width:300px;float:left;}
.full_new a {font-size:9px;}
.short .red{color:red; width:145px;float:left;}
.short .green{color:green;width:145px;float:left;}
.short .orange{color:#B36815;width:145px;float:left;}
.date {color:grey;font-size:10px;}
.error_msg {color:#DF0DB3}
.prod_link {margin-bottom: 10px;}
.prod_link a {color: black; font-size:16px;}
.prod_list ul {list-style: none;}
.prod_list a {color: grey}
.img_container {margin: 5px;}
.price_container {color: #FF5100}
.search {padding-top:15px;}
