body {font-family:Verdana;font-size:12px;}
h3 {margin:0}

.main {width:800px;margin-left:auto;margin-right:auto}
.head{height:60px;}
.logo {float:left;}
.address {float:right}
.clear {clear:both}
.content{float:left;width:500px;}
.sidebar{float:right;width:250px;}
.middle {min-height:300px;}
.submit {padding-top:10px;}
.dealers_enter {padding-bottom:10px;}
.events {margin-top:20px;}
.events div {padding-top:10px;}
.bottom {padding-left:200px;}
.for_dealers form {margin-top:10px}
