%h3 Изменить пароль
- if @notice == "fail"
  .error_msg
    Вы ввели неправильный пароль
%form{:action => "check_password", :method => "post"}
  %p 
    Старый пароль
    %br
      %input{:type=>"password", :name=>"old_pass"}
  %p  
    Новый пароль
    %br
      %input{:type=>"password", :name=>"new_pass"}
  %p
    Подтвердите пароль
    %br
      %input{:type=>"password", :name=>"confirm_pass"}
  .submit 
    %input{:type=>"submit", :value=>"Изменить"}
 
