%h3 Новости

.admin
  %a{:href=>"/articles/"}
    Редактировать новости
  %span &nbsp;|&nbsp;
  %a{:href=>"/articles/new"}
    Создать новость

.news 
  - @articles.each do |article|
    .title 
      = article.title
    .brief
      = article.brief
    .image
      = image_tag ("/uploads/" + article.image)
