%h3 Новости

= render "admin_links"
.news 
  = render :partial => "articles/brief_article", :collection => @articles

%h3 Новости кратко

= render :partial => "articles/short_article", :collection => @short_articles 
