- @product.each() do |row|
  %h3
    = row["NAME"]
.img_container
  - @image_link.each() do |row|
    %img{:src => "http://qwerty.kg/upload/" + row["SUBDIR"] + "/" + row["FILE_NAME"], :width => "300px", :height => "225px"}

- @product.each() do |row|
  = row["DETAIL_TEXT"]
