!!! 5
%html
%head
  %title BRAND Company
  = stylesheet_link_tag :all
  = javascript_include_tag "jquery.js", "rails.js", "application.js", "nicEdit.js" 
  = csrf_meta_tag 
%body
  .main
    
    .head
      .logo BRAND Company
      .address г. Бишкек, ул. Огонбаева 93
      .clear  
    
    .menu
    
    .middle 
      .content
        = yield 
      .sidebar
        .for_dealers
          %h3 Вход для дилеров 
          %form{:action => "/login", :method => "post"}
            .login_caption Логин
            .login_input 
              %input{:type=>"text", :name=>"login"}
            .pass_caption Пароль
            .pass_input 
              %input{:type=>"password", :name=>"pass"}
            .submit 
              %input{:type=>"submit", :value=>"Войти"}
        .events
          %h3 Акция для дилеров!
          %div Купи товара на 1000 долларов и получи абонемент в басик на 10 месяцев
      .clear  
    
    .bottom
      %a{:href => "mailto:brand.qwerty@gmai.com"} brand.qwerty@gmail.com
